header
  .wrapper
    .branding
      h1 Frontend UX/UI Web Designer &amp; Developer
      h2(translate='no') Dan Poynor
    p Welcome to my Web Development portfolio! I&rsquo;m a Web Developer living in Austin, Texas with a passion for building beautiful, easy-to-use interfaces. Below are a few examples to&nbsp;checkout.
  include nav
