meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Dan Poynor Frontend Web Developer Portfolio
meta(name='description' content='Web Development portfolio for Dan Poynor. I am a Web Developer living in Austin, Texas with a passion for building beautiful, responsive, easy-to-use websites. I have hands-on experience coding websites from scratch using CSS, HTML, JavaScript, and PHP along with Sass, Pug, TypeScript, Hugo, WordPress, and Svelte.')
meta(name='keywords' content='Austin web developer, web designer, front end developer portfolio, javascript, html, css, Hugo development, SvelteKit development, WordPress development')
meta(name='theme-color' content='#2B3750')
link(rel='icon' href='/favicon.ico')
link(rel='stylesheet' href='themes.css')
link(rel='stylesheet' href='styles.css')
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bitter:wght@400&family=Source+Sans+Pro&display=swap')
script(src='app.js' type='module')
