header
  .wrapper
    .branding
      h1 Frontend Web Developer &amp; UI&nbsp;Engineer
      h2(translate='no') Dan Poynor
    p Welcome to my Web Development portfolio! I&rsquo;m a Web Developer living in Austin, Texas with a passion for building beautiful, easy-to-use websites. Below are a few examples to&nbsp;checkout.
  include nav
