section.social
  h2.sr-only Contact Social
  ul
    li
      a(href='https://www.linkedin.com/in/danpoynor/' class='btn' title='LinkedIn')
        include icons/logo-linkedin
        span LinkedIn
    li
      a(href='https://www.twitter.com/danpoynor' class='btn' title='Twitter')
        include icons/logo-twitter
        span Twitter
    li
      a(href='https://www.github.com/danpoynor' class='btn' title='GitHub')
        include icons/logo-github
        span GitHub
