button(class='toggle toggle-favorites' type='button' role='switch' aria-checked='false' aria-label='Toggle showing favorites projects only' title='Show favorite projects only')
  <svg><use href="#icon-heart"/></svg>
