button(class='toggle toggle-dark-mode' type='button' role='switch' aria-checked='false' aria-label='Toggle showing dark mode color scheme' title='' )
  include ../icons/mode-dark
  include ../icons/mode-light
