@use 'abstracts/variables' as toolbar;

.toggle {
  background-color: var(--color-fg-bg, #0000);
  border-radius: 50%;
  display: flex;
  flex-wrap: nowrap;
  gap: toolbar.$icon-gap;
  padding: toolbar.$wrapper-padding;

  svg {
    border-radius: 50%;
    height: toolbar.$icon-width;
    width: toolbar.$icon-width;
    padding: 0;
  }

  &:hover {
    background-color: var(--color-btn-bg-hover, #0000);
  }
}

.toggle-dark-mode {
  border-radius: 2rem;

  .bg {
    fill: var(--color-btn-bg, #0000);
  }

  .lines {
    stroke: var(--color-btn-text, #0000);
  }

  &:hover {
    .bg {
      fill: var(--color-btn-text-hover, #0000);
    }
  }
}
